.about-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: default;
}

.about-page-content {
    margin: 1rem;
    max-width: 900px;
}

.about-page-title {
    color: #fff;
    font-size: 45px;
}

.about-page-description {
    background-color: rgb(104, 13, 190);
    border-radius: 20px;
    padding: 1rem;
}
.about-page-description p {
    font-size: 22px;
    color: rgb(215, 186, 21);
    max-width: 700px;
}

.how-it-works {
    font-size: 30px;
    color: #fff;
    text-decoration: underline;
}

.about-immotal-houses {
    display: flex;
}

.about-immotal-houses {
    display: flex;
    justify-content: center;
}

.about-page-icon {
    margin: 0 10px 0 10px;
}
.about-image {
    border-radius: 50%;
    max-height: 120px;
}