.student-merit-container {
    margin: 4px;
    transform: scale(1);
}

.student-merit-container:hover {
    z-index: 10;
    transform: scale(1.3);
}

.student-merit-container,
.student-merit-container img {
    transition: all 250ms ease-out;
}

.student-merit-image {
    border-radius: 50%;
}

//Source Code:
//https: //codepen.io/nelsonr/pen/WNQaZPb