.merit-page-container {
    
}

.merit-page-navbar {
    display: flex;
    border-radius: 20px;
    justify-content: space-evenly;
    /* box-shadow: 0 0 10px 1px black; */
    margin: 2rem;
    padding: 1rem;
    font-size: 28px;
}
.navbar-tab {
    cursor: pointer;
    padding: 10px;
    border-radius: 16px;

}
#character-tab {
    background-color: grey;
}
#design-tab {
    background-color: purple;
}
#virtue-tab {
    background-color: blue;
}
#tactical-tab {
    background-color: red;
}
#dedication-tab {
    background-color: brown;
}
#research-tab{
    background-color: orange;
}
#victory-tab {
    background-color: green;
}
#experience-tab {
    background-color: lightblue;
}

.merit-page-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100vw;
}

.merit-display {
    margin: 1rem;
}

.merit-category-title {
    color: #fff;
    font-size: 35px;
    text-decoration: underline;
}

.merit-list-container {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}

.merit-content{
    display: flex;
    align-items: center;
    margin: 25px 2rem 25px 0;

}

.merit-image-container {
    border-radius: 50%;
    min-height: 100px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.merit-image {
    max-height: 50px;
}
.hover-text {
    position: absolute;
    transform: translateY(50px);
    color: #fff;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.383);
    border-radius: 10px;
    padding: 5px;
}

.merit-description {
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding: 5px 1rem 5px 1rem;
    min-height: 80px;
    width: 300px;
    border-radius: 20px;
    font-size: 19px;
    color: #fff;
    cursor: default;
}
.div-arrow {
    height: 0px;
    width: 0px;
    transform: translateX(-26px);
    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent;
    position: absolute;
}
.merit-text {
    margin: 0;
}

#grey {
    background: linear-gradient(100deg,rgb(138, 138, 138), rgb(37, 37, 37));
    border: solid 2px rgb(70, 70, 70);
}
#grey-description {
    background-color: rgb(120, 120, 120);
}
#grey-arrow {
    border-right: solid 10px rgb(120, 120, 120);
}

#purple {
    background: linear-gradient(100deg, purple, rgb(61, 3, 61));
    border: solid 2px purple;
}
#purple-description {
    background-color: purple;
}