.student-page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: blueviolet;
    border-top: solid 4px purple;
}

.house-display {
    display: flex;
    justify-content: space-between;
}
.house-image-div {
    margin: 2rem;
}
.house-image {
    max-height: 250px;
}

.student-details-container {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    min-width: 500px;
    border: solid 4px #fff;
    border-radius: 10px;
}

.student-page-content {
    position: relative;
    border-top: solid 4px purple;
    height: 100vh;
    z-index: 1;
}

.student-merit-list {
    display: flex;
    margin: 2rem;
}

.student-merit-container {
    border-radius: 50%;
    min-height: 100px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.student-merit {
    max-height: 80px;
    margin: 1rem;
}