.student-page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: blueviolet;
    border-top: solid 4px purple;
}

.house-display {
    display: flex;
    justify-content: space-evenly;
}
.house-image-div {
    display: flex;
    align-items: center;
    margin: 2rem;
}
.house-image {
    max-height: 350px;
    border-radius: 50%;
    transition: 0.2s;
}
.house-image:hover {
    box-shadow: 0 0 25px 8px gold;
}

/*** STUDENT INFO ***/
.student-details-container {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    min-width: 500px;
    border: solid 4px purple;
    box-shadow: 25PX 25PX 70px 2px rgba(0, 0, 0, 0.508);
    color: #fff;
    border-radius: 10px;
}
.student-details-container h1 {
    text-decoration: underline; 
}
.student-details-content {
    border: solid 2px purple;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
}
.profile-info-names {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.profile-level {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile-level h1 {
    text-decoration: none;
    margin: 0;
    font-size: 45px;
}

.student-page-content {
    position: relative;
    border-top: solid 4px purple;
    min-height: 100vh;
    z-index: 1;
}

.student-merit-list {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
}

.student-merit-container {
    border-radius: 50%;
    min-height: 100px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 0.2s;
}

.student-merit {
    max-height: 80px;
    margin: 1rem;
    border: solid 2px transparent;
}

.achievement-page-container {
    display: flex;
    justify-content: center;
}