.user-check-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: inherit;
    background-color: blueviolet;
    cursor: default;
}
.user-check-container h1 {
    color: purple;
    font-size: 45px;
}

.user-check-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}

.page-break {
    min-height: 80vh;
    min-width: 4px;
    background-color: rgb(235, 235, 235);
}

.user-select {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    min-width: 500px;
    cursor: pointer;
    transition: 0.5s;
}
.user-select-text {
    text-decoration: none;
    display: inline-block;
    position: relative;
}
.user-select-text::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.user-select-text:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#parent-student-select:hover {
    min-width: 80%;
    font-size: 35px;
}

#instructor-select:hover {
    min-width: 80%;
    font-size: 35px;
}
