body {
  /* overflow: hidden; */
  margin: 0;
  height: 100vh;
}

.scroll-up-btn {
  bottom: 0;
  right: 50%;
  position: fixed;
  z-index: 1;
  cursor: pointer;
}

.scroll-arrow{
  color: rgb(168, 14, 179);
  height: 55px;
  width: 55px;
  background-color: rgba(255, 255, 255, 0.657);
  border-radius: 50%;
}


